body {
    overflow: hidden;
}

.sc-app {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    font-size: small;
}

.sc-toolbar {
    background: #e6e6e6;
}

.se-tool button {
    box-shadow: 0px 0px 4px 1px #3e3e3e;
}

.se-toggle {
    box-shadow: 0px 0px 4px 1px #3e3e3e;
}